.planets {
  width: 100%;
  position: relative;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(var(--columns-amount), minmax(300px, 1fr));
  grid-template-rows: 50px 300px;
  grid-auto-rows: 300px;

  @media (max-width: 650px) {
    --columns-amount: auto-fit;
    grid-template-rows: 50px 50px;
  }
}