@import './reset';
@import './vars';

@import './components/Planets/Planets.scss';
@import './components/Planet/Planet.scss';
@import './components/PlanetPage/PlanetPage.scss';
@import './components/PageError/PageError.scss';

body {
  padding: 20px;
  background-color: rgb(19, 17, 17);
}

.page {
  &__title {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 244, 97);
    text-transform: uppercase;
    margin-bottom: 10px;

    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 30%;
      margin: 10px auto 15px;
      background-color: rgb(255, 244, 97);
    }
  }
}


